
@import '../styles/all.css';

.ui.menu {
  margin: 0;
}

.portalSideBarButton {
  width: 100%;
  margin-right: 0 !important;
  padding: 0 !important;
  height: 42px;
}

.ui.sidebar.very.thin.icon {
  overflow: visible !important;
}

.portalModalContent {
    padding: 1px !important;
    height: 100%;
}
.portalContent {
  margin-left: 150px;
  height: 100%;
}

.portalContentExpanded {
  margin-left: 60px;
  height: 100%;
}

.portalContentSegment {
  overflow-y: auto;
  padding: 0 !important;
  height: calc(~'100% - 42px');
}
.portalHeader {
  background: #E6EAED none;
}
