/* carousel */

.custom-tag {
  max-width: 100%;
  background: black;
}

.carousel-img {
  width:100%;
  min-width: 1500px;
}

.antcarousel {
  text-align: center;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.JumboText {
  background-color: #e9ecef00;
}
/* END carousel */
